{% extends "sample/base.html" %}
{% block title %}
    <title>{{ message }}</title>
{% endblock %}
{% block content %}
<div class="container">
    <div class="success-message">
        <h2>{{ message }}</h2>
        <p>Дальнейшие действия:</p>
        <a href="/api/v1/sample/add_sample">Добавить еще одно описание</a>
        или 
        <a href="/">Вернуться на главную</a>
    </div>
</div>

<style>
    .success-message {
        background-color: #e6e6e6;
        padding: 20px;
        text-align: center;
        border-radius: 5px;
        margin-top: 50px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .success-message h2 {
        color: #4CAF50;
    }

    .success-message a {
        color: #333;
        text-decoration: none;
        border: 1px solid #ccc;
        padding: 5px 15px;
        border-radius: 5px;
        transition: background-color 0.3s;
        margin: 5px;
    }

    .success-message a:hover {
        background-color: #ddd;
    }
</style>
{% endblock %}