{% extends "sample/base.html" %}
{% block title %}
    <title>Описание: {{ defined_sample.title }}</title>
{% endblock %}
{% block content %}
    <h2 class="centered-text">{{ defined_sample.title }}</h2>
    <div class="description__container">
        <p class="description__text" id="descriptionText">{{ defined_sample.text }}</p>
    </div>
    <div class="defined-images">
        {% if defined_sample.image %}
            <img
              src="{{ defined_sample.image }}"
              alt="main image"
              width="350"
              height="400"
            >
        {% endif %}
        {% if defined_sample.additional_image %}
            <img
              src="{{ defined_sample.additional_image }}"
              alt="additional image"
              width="350"
              height="400"
            >
        {% endif %}
    </div>
    <div class="center-container">
        <button id="copyButton" onclick="copyToClipboard()">Копировать текст</button>
    </div>
    <div id="customModal" class="modal">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <p class="modal-text"></p>
        </div>
    </div>
    <script>
        var modal = document.getElementById('customModal');
        var closeButton = document.querySelector('.close-button');
        var modalText = document.querySelector('.modal-text');
        closeButton.onclick = function() {
            modal.style.display = "none";
        }
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        function showModal(message) {
            modalText.innerHTML = message;
            modal.style.display = "block";
        }
        async function copyToClipboard() {
            try {
                const textToCopy = document.getElementById('descriptionText').innerText;
                await navigator.clipboard.writeText(textToCopy);
                showModal("Текст скопирован в буфер обмена!");
            } catch (err) {
                showModal("Не удалось скопировать текст:<br>" + err);
            }
        }
        function isSafari() {
            return /^((?!chrome|android).)*safari/i.test(navigator.userAgent);
        }
        window.onload = function() {
            if (isSafari()) {
                var copyButton = document.getElementById('copyButton');
                copyButton.style.display = 'none';
            }
        };
    </script>
{% endblock %}