{% extends "sample/base.html" %}
{% load custom_filters %}
{% block title %}
    <title>Все описания</title>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="filter-form-container">
            <form method="get" action="." class="form-actions">
                <input type="text" name="title_search" placeholder="Поиск по названию">
                <select name="modality_filter">
                    <option value="">-- Выберите модальность --</option>
                    {% for code, name in MODALITY_CHOICES %}
                        <option value="{{ code }}">{{ name }}</option>
                    {% endfor %}
                </select>
                <select name="region_of_interest_filter">
                    <option value="">-- Выберите зону интереса --</option>
                    {% for code, name in REGION_OF_INTEREST_CHOICES %}
                        <option value="{{ code }}">{{ name }}</option>
                    {% endfor %}
                </select>
                <select name="specialization_filter">
                    <option value="">-- Выберите специализацию --</option>
                    {% for code, name in SPECIALIZATION_CHOICES %}
                        <option value="{{ code }}">{{ name }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Фильтровать">
            </form>
        </div>
        <h2 class="centered-text">Список описаний</h2>
        <table class="sample-table-laptop">
            <thead>
                <tr>
                    <th>
                        Номер
                        {% if ordering == "id" %}
                            <a href="?ordering=-id">⬇️</a>
                        {% elif ordering == "-id" %}
                            <a href="?ordering=id">⬆️</a>
                        {% else %}
                            <a href="?ordering=id">↕️</a>
                        {% endif %}
                    </th>
                    <th>
                        Заголовок описания
                        {% if ordering == "title" %}
                            <a href="?ordering=-title">⬇️</a>
                        {% elif ordering == "-title" %}
                            <a href="?ordering=title">⬆️</a>
                        {% else %}
                            <a href="?ordering=title">↕️</a>
                        {% endif %}
                    </th>
                    <th>
                        Дата создания
                        {% if ordering == "datetime_of_creation" %}
                            <a href="?ordering=-datetime_of_creation">⬇️</a>
                        {% elif ordering == "-datetime_of_creation" %}
                            <a href="?ordering=datetime_of_creation">⬆️</a>
                        {% else %}
                            <a href="?ordering=datetime_of_creation">↕️</a>
                        {% endif %}
                    </th>
                    <th>
                        Дата изменения
                        {% if ordering == "datetime_of_change" %}
                            <a href="?ordering=-datetime_of_change">⬇️</a>
                        {% elif ordering == "-datetime_of_change" %}
                            <a href="?ordering=datetime_of_change">⬆️</a>
                        {% else %}
                            <a href="?ordering=datetime_of_change">↕️</a>
                        {% endif %}
                    </th>
                    <th>
                        Модальность исследования
                        {% if ordering == "modality" %}
                            <a href="?ordering=-modality">⬇️</a>
                        {% elif ordering == "-modality" %}
                            <a href="?ordering=modality">⬆️</a>
                        {% else %}
                            <a href="?ordering=modality">↕️</a>
                        {% endif %}
                    </th>
                    <th>
                        Зона исследования
                        {% if ordering == "region_of_interest" %}
                            <a href="?ordering=-region_of_interest">⬇️</a>
                        {% elif ordering == "-region_of_interest" %}
                            <a href="?ordering=region_of_interest">⬆️</a>
                        {% else %}
                            <a href="?ordering=region_of_interest">↕️</a>
                        {% endif %}
                    </th>
                    <th>
                        Специализация
                        {% if ordering == "specialization" %}
                            <a href="?ordering=-specialization">⬇️</a>
                        {% elif ordering == "-specialization" %}
                            <a href="?ordering=specialization">⬆️</a>
                        {% else %}
                            <a href="?ordering=specialization">↕️</a>
                        {% endif %}
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for sample in samples %}
                    <tr>
                        <td>{{ sample.id }}</td>
                        <td>
                            <a href="/api/v1/sample/{{ sample.id }}/get_defined_sample">{{ sample.title }}</a>
                        </td>
                        <td>{{ sample.datetime_of_creation }}</td>
                        <td>{{ sample.datetime_of_change }}</td>
                        <td>{{ sample.modality|get_display:MODALITY_CHOICES }}</td>
                        <td>{{ sample.region_of_interest|get_display:REGION_OF_INTEREST_CHOICES }}</td>
                        <td>{{ sample.specialization|get_display:SPECIALIZATION_CHOICES }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <table class="sample-table-mobile">
            <thead>
                <tr>
                    <th>
                        Заголовок описания
                        {% if ordering == "title" %}
                            <a href="?ordering=-title">⬇️</a>
                        {% elif ordering == "-title" %}
                            <a href="?ordering=title">⬆️</a>
                        {% else %}
                            <a href="?ordering=title">↕️</a>
                        {% endif %}
                    </th>
                    <th>
                        Модальность исследования
                        {% if ordering == "modality" %}
                            <a href="?ordering=-modality">⬇️</a>
                        {% elif ordering == "-modality" %}
                            <a href="?ordering=modality">⬆️</a>
                        {% else %}
                            <a href="?ordering=modality">↕️</a>
                        {% endif %}
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for sample in samples %}
                    <tr>
                        <td>
                            <a href="/api/v1/sample/{{ sample.id }}/get_defined_sample">{{ sample.title }}</a>
                        </td>
                        <td>{{ sample.modality|get_display:MODALITY_CHOICES }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

