{% extends "sample/base.html" %}
{% block title %}
    <title>Все описания</title>
{% endblock %}
{% block content %}
    <div class="container">
        <h2 class="centered-text">Список описаний</h2>
        <table class="sample-table">
            <thead>
                <tr>
                    <th>Номер</th>
                    <th>Заголовок описания</th>
                    <th>Дата создания</th>
                    <th>Дата изменения</th>
                    <th>Модальность исследования</th>
                    <th>Зона исследования</th>
                    <th>Специализация</th>
                </tr>
            </thead>
            <tbody>
                {% for sample in samples %}
                    <tr>
                        <td>{{ sample.id }}</td>
                        <td>
                            <a href="/api/v1/sample/{{ sample.id }}/get_defined_sample">{{ sample.title }}</a>
                        </td>
                        <td>{{ sample.datetime_of_creation }}</td>
                        <td>{{ sample.datetime_of_change }}</td>
                        <td>{{ sample.modality }}</td>
                        <td>{{ sample.region_of_interest }}</td>
                        <td>{{ sample.specialization }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

