{% extends "sample/base.html" %}
{% block title %}
    <title>Регистрация</title>
{% endblock %}
{% block content %}
<div class="container form-container">
    <h2>Регистрация</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-actions">
            <button type="submit">Зарегистрироваться</button>
        </div>
    </form>
</div>
<style>
    .form-container {
        background-color: #e6e6e6;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-top: 50px;
    }

    .form-container h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .form-container form p {
        margin-bottom: 10px;
    }

    .form-container form label {
        display: block;
        margin-bottom: 5px;
    }

    .form-container form input[type="text"],
    .form-container form input[type="password"],
    .form-container form input[type="email"],
    .form-container form textarea,
    .form-container form select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    .form-actions {
        text-align: center;
        margin-top: 20px;
    }

    .form-actions button {
        padding: 10px 15px;
        background-color: #333;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .form-actions button:hover {
        background-color: #555;
    }
</style>
{% endblock %}
